<div class="container">
    <br>
    <h4>
        <mark>{{name}}</mark>
        <small>{{model}}</small>
    </h4>
    <div class="alert alert-success">
        Parameters:
        <ul>
            <li>Speed: <strong>{{speed}}</strong></li>
            <li>Color car: <strong>{{colors.car}}</strong></li>
            <li>Color salon: <strong>{{colors.salon}}</strong></li>
            <li>Color wheels: <strong>{{colors.wheels}}</strong></li>
        </ul>
    </div>

    <h5>Object edit</h5>
    <button class="btn btn-success mb-1" (click)="showEdit()">Edit</button>
    <form *ngIf="isEdit">
        <div class="mb-3">
            <input type="text" placeholder="Car name" class="form-control" [(ngModel)]="name" name="name">
        </div>

        <div class="mb-3">
            <input type="text" placeholder="Car model" class="form-control" [(ngModel)]="model" name="model">
        </div>

        <div class="mb-3">
            <input type="number" placeholder="Car speed" class="form-control" [(ngModel)]="speed" name="speed">
        </div>

        <div class="mb-3">
            <input type="text" placeholder="Car color" class="form-control" [(ngModel)]="colors.car" name="carColor">
        </div>

        <div class="mb-3">
            <input type="text" placeholder="Salon color" class="form-control" [(ngModel)]="colors.salon" name="salonColor">
        </div>

        <div class="mb-3">
            <input type="text" placeholder="Wheels color" class="form-control" [(ngModel)]="colors.wheels" name="wheelsColor">
        </div>
    </form>

    <h5>Car options</h5>
    <form (submit)="addOption(optionFromForm.value)">
        <div class="form">
            <label for="option" class="form-label">Add new option</label>
            <input type="text" id="option" class="form-control" placeholder="Input something" #optionFromForm>
            <button type="submit" class="btn btn-primary btn-add">Add</button>
        </div>
    </form>
    <div class="alert alert-warning">
        <ul>
            <li *ngFor="let option of options; let i = index">{{(i + 1) + " " +option}} <button
                    class="btn btn-danger btn-delete" (click)="deleteOption(option)">X</button></li>
        </ul>
    </div>

    <h3>Choose auto</h3>
    <button class="btn btn-danger" (click)="carSelect('BMW')">BMW</button>
    <button class="btn btn-success" (click)="carSelect('Audi')">Audi</button>
    <button class="btn btn-info" (click)="carSelect('Mersedes')">Mersedes</button>
</div>